<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3>Post a new blog</h3>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Title:</label><br/>
					<input id="title" class="col-sm-8" style="width:100%" ng-model="blog.title">
				</div>
				<div class="form-group" flow-init>
					<div flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}"
     ng-style="style">
</div>
				</div>
				<div class="form-group">
					<label for="author" class="col-sm-2 control-label">Author</label><br/>
					<input id="author" class="col-sm-8"  style="width:100%"ng-model="blog.author">
				</div>
				<div class="form-group" >
					<label for="body" class="col-sm-2 control-label">Content:</label><br/>
					<textarea  class="col-sm-8"  style="width:100%" rows=10 id="body" class="form-control" ng-model="blog.body"></textarea>
				</div>
				<button class="btn btn-primary" ng-click="addBlog()">Post</button>
			</form>
			<hr>
		</div>
		<div class="col-md-8">
			<div>
				<span class="icon"><i class="fa fa-search"></i></span> 
				<input ng-model="searchText" type="text" placeholder="Search...">
			</div>
		</div>
		<div class="col-md-8">
			<div ng-repeat="article in articles|filter:searchText" class="wholearticle">
				<h1>{{article.title}}</h3>
				<div ng-show={{article.pictures.length}} ng-repeat="picture in article.pictures">
					<div style="width:100%;height:100%;">
						<img style="width:100%" ng-src={{picture.path}} alt={{picture.name}}>
					</div>
				</div>
				<div class="well poster">
					<span><i class="fa fa-user"></i>{{article.author}}</span>
					<span><i class="fa fa-calendar"></i>{{article.posttime|date:'medium'}}</span>
				</div>
				<div>
					<label>Tags:</label>
					<div ng-hide="editing">{{article.tags}}</div>
					<input ng-show="editing" ng-model="article.tags">
				</div>
				<pre ng-bind-html="article.body | parseUrl" class="well blogbody" ng-hide="editing"></pre>
				<textarea rows="50" ng-show="editing" style="width:100%" ng-model="article.body"></textarea>
				<div>
					<button class="btn btn-warning" ng-hide="editing" ng-click="edit()">Edit</button>
					<button class="btn btn-warning" ng-show="editing" ng-click="cancel()">Cancel</button>
					<button class="btn btn-info" ng-click="update(article)">Update</button>
					<button class="btn btn-danger" ng-click="remove(article._id)">Remove</button>
				</div>
				<div class="col-xs-12"><hr/></div>
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>