<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div>
				<span class="icon"><i class="fa fa-search"></i></span> 
				<input ng-model="searchText" type="text" placeholder="Search...">
			</div>
		</div>
		<div class="col-md-8" >
			<table class="table">
				<tr>
					<th>Email</th>
					<th>Company</th>
					<th>isAdmin</th>
					<th>isActive</th>
					<th>CreatedDate</th>
				</tr>
				
				<tr ng-repeat="usr in usrs">
					<td ng-hide="editing">{{usr.email}}</td>
					<td ng-show="editing"><input type="email" ng-model="usr.email"></td>
					<td ng-hide="editing">{{usr.company}}</td>
					<td ng-show="editing"><input type="text" ng-model="usr.company"></td>
					<td ng-hide="editing"><input type="checkbox" disabled="disabled" checked="usr.admin"></td>
					<td ng-show="editing"><input type="checkbox" ng-model="usr.admin"></td>
					<td ng-hide="editing"><input type="checkbox" disabled="disabled" checked="usr.isactive"></td>
					<td ng-show="editing"><input type="checkbox" ng-model="usr.isactive"></td>
					<td>{{usr.createddate| date:'medium'}}</td>
					<td><button class="btn btn-warning" ng-hide="editing" ng-click="edit()">Edit</button></td>
					<td><button class="btn btn-warning" ng-show="editing" ng-click="cancel()">Cancel</button></td>
					<td ng-show="editing"><button class="btn btn-info" ng-click="update(usr)">Update</button></td>
					<td><button class="btn btn-danger" ng-click="remove(usr._id)">Remove</button></td>
				</tr>
				<tr>
					<th><input id="email" class="form-control" ng-model="newuser.email"></th>
					<th><input id="company" class="form-control" ng-model="newuser.company"></th>
					<th><input type="checkbox" ng-model="newuser.admin"></th>
					<th><input type="checkbox" ng-model="newuser.isactive"></th>
					<th><button class="btn btn-danger" ng-click="addUser()">Add New User</button></th>
				</tr>
			</table>

		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>