<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-12">
            <div style="height: 100%">
              <carousel interval="myInterval" no-wrap="noWrapSlides">
                  <slide ng-repeat="slide in slides" active="slide.active">
                      <img ng-src="{{slide.image}}" style="max-height:500px; margin:0 auto;">
                  </slide>
              </carousel>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
    	<div class="col-md-4" ng-repeat = "service in services">
			<a href="#" class="thumbnail">
				<img ng-src={{service.path}} alt={{service.alt}}>
			</a>
			<h3>{{service.name}}</h3>
			<p>
			<div ng-repeat="des in service.description">{{des}}</div>
			</p>
		</div>
    </div>
</div>
</div>

<div ui-view></div>
