<div class="container">
	<div class="row-fluid">
		<div class="box">
				<span class="icon"><i class="fa fa-search"></i></span> 
				<input ng-model="searchText" type="text" placeholder="Search...">
		</div>
		<div class="col-md-10">
			<div ng-repeat="article in articles | filter:searchText | startFrom:currentPage*pageSize|limitTo:pageSize" class="wholearticle">
				<h1>{{article.title}}</h3>
				<div class="well poster">
					<span><i class="fa fa-user"></i>{{article.author}}</span>
					<span><i class="fa fa-calendar"></i>{{article.posttime|date:'medium'}}</span>
				</div>
				<p class="well blogbody">{{article.body|limitTo:500}}</p>
					<a ng-click="readmore(article)">Read More</a>
				<div class="col-xs-12"><hr/></div>
			</div>
		</div>
		<div class="box">
			<button ng-disabled="currentPage==0" ng-click="currentPage=currentPage-1" class="btn btn-primary">Previous</button>
			{{currentPage+1}}/{{numberOfPages()}}
			<button ng-disabled="currentPage>=articles.length/pageSize-1" ng-click="currentPage=currentPage+1" class="btn btn-primary">Previous</button>
		</div>
	</div>
</div>