<div class="jumbotron text-center" style="margin-bottom: 0px;">
    <h1>Our Team</h1>
    <p>
    Lead generation in 
the retirement plan business is hard. 
The product is sophisticated. You 
need industry experts making the calls.
    </p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4" ng-repeat="manager in managers">
			<a href="#" class="thumbnail">
				<img ng-src={{manager.path}} alt={{manager.name}}>
			</a>
			<h3 class="signature">{{manager.name}}</h3>
			<h5>{{manager.title}}</h5>
			<p>
				{{manager.description}}
			</p>
		</div>
	</div>
</div>
